@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Shared style */
body {
    font-family: "Merriweather", serif;
}

.content-centre {
    text-align: center;
}


/* header style and banner style */
.banner-container {
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(/Resources/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%);
}

.new-year {
    font-size: 32px;
    font-weight: 400;
}

.new-year-title {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* 65% section style */
.first-section-container {

    width: 803px;
    height: 806px;
    margin: 0 auto;
    /*for taking it in center*/
    margin-top: 100px;
}

.offer-secound-title {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.offer-tile {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    margin-bottom: 40px;
}

.offer-third-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 40px;
}

.new-year-img-container {
    width: 802px;
    height: 500px
}

.new-year-img-container img {
    width: 100%;
    height: 100%;
}

/* mid-night-party-section */

.mid-night-party-section {
    max-width: 1320px;
    max-height: 600px;
    background-image: url(/Resources/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
}

.mid-night-party-section-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11%;
    text-align: left;
    margin: 126px 94px 24px 126px;
}

.mid-night-party-section-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 39px 48px 126px;
}

.mid-night-party-section-title2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 158px;
    margin-bottom: 142px;
}

.mid-night-party-section-img-container {
    align-items: center;
    margin: 68px 108px 67px 0px;

}

/* imformation section  */
.information-section {
    margin: 120px 140px 120px 140px;
    max-width: 1320px;
    max-height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.information-section p {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    /* margin-top: 100px; */
}

.information-section div {
    text-align: center;
    margin-top: 48px;

}

.information-section div button {
    width: 167px;
    height: 56px;
    background: rgb(255, 0, 0);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    border: none;
}

/* information-section-secound style */

.information-section-secound-tile-1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.information-section-secound-title-2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize
}

.information-section-secound-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}



/* holiday-section-style */